<link rel="stylesheet" href="/css/headerAndFooter.css">





  <div class="containerfooter">
   <div class="content">

<span class="whiteColor snapShot">
  Release ver.1.0.0-1-SNAPSHOT-110036
</span>

    <span class="whiteColor centeralign">© 2023 Mayuresh, Inc</span>
   
    <ul class="ulfooter">
     <li><a href=" https://twitter.com/Mayuresh_P24" target="_blank"><i class="fa-brands fa-square-x-twitter fa-xl twitter-icon-radius"></a></i></li>
     <li><i class="fa-brands fa-instagram fa-xl twitter-icon-radius"></i></li>
     <li><a href="https://www.linkedin.com/in/mayuresh-patrikar/" target="_blank"><i class="fa-brands fa-linkedin fa-xl twitter-icon-radius"></i></a></li>
    
    </ul>



   </div>



  </div>
