<link rel="stylesheet" href="/css/headerAndFooter.css">




<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">

 
    <!-- Navbar content -->
    <div style="text-align: center;font-weight: 900;color: white;">
     Auth App  &nbsp; <i class="fa-solid fa-shield" style="color: #f2f4f8;"></i>
    </div>


    <div class="rightcontent">


      
    <% if(locals.user){%>

      <!-- //TODO Add User icon And DropDown -->
      <% if(user.first_name && user.first_name.length>0){ %>
     
      <a href="/profile"> 
        <span class="userNameSpace">
         <span class="whiteColor">
            <%= locals.user.first_name %> 
           
        </span>
      </span>
      </a>

    
      <% } %>

      &nbsp;
      <a href="/getpasswordChange">Change Password</a>
      &nbsp;
      <a href="/signout" title="Log Out" style="    top: 10px;
      right: 5px;
      position: relative;"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a>

     

      <%}else{%>
 
        <a href="/signin" class="newRoboto">Sign In</a>
        <a href="/Sign_Up" class="newRoboto">Sign Up</a>
        <%}%>


    </div>

 


  </nav>
  
