<link rel="stylesheet" href="css/profile.css">

<div class="container">


    <h1>Hello
       <span class="nameColor">
        <%= locals.user.given_name %>
       </span>
       !! 
       <br>
      
       Email: <span class="emailColor">
        <%= locals.user.email %>
       </span>
    </h1>

    

</div>
