<link rel="stylesheet" href="/css/profile.css">

<div class="containers">


    <h1>Hello
       <span class="nameColor">
      <% if(locals.user.first_name && locals.user.first_name.length>0){ %>
        <%= locals.user.first_name %> 
        <% } %>
       </span>
       !! 
       <br>
      
      
    </h1>
    Email: <span class="emailColor">
        <%= locals.user.email %>
       </span>
    

</div>
